*.swp
openmrs-module-initializer/configuration/concepts/assessment.csv
openmrs-module-initializer/configuration/concepts/follow_up.csv
openmrs-module-initializer/configuration/globalproperties/to_encode.xml
openmrs/apps/clinical/app.json
openmrs/apps/clinical/dashboard.json
openmrs/apps/clinical/formConditions.js

