*.swp
openmrs-module-initializer/configuration/concepts/assessment.csv
openmrs-module-initializer/configuration/concepts/follow_up.csv
openmrs/apps/clinical/app.json
openmrs/apps/clinical/formConditions.js

