{
    "id": "bahmni.clinical",
    "extensionPoints": [{
            "id": "org.bahmni.clinical.consultation.board",
            "description": "Bahmni Clinical Consultation Page"
        },
        {
            "id": "org.bahmni.clinical.conceptSetGroup.*",
            "description": "Define conceptsets part of a conceptset group"
        },
        {
            "id": "org.bahmni.clinical.orders",
            "description": "Bahmni Orders Page"
        },
        {
            "id": "org.bahmni.patient.search",
            "description": "Bahmni Patient search, lookups Page"
        }
    ],
    "contextModel": [
        "patientUuid",
        "visitUuid"
    ],
    "config": {
        "hideConditions": false,
        "quickPrints": false,
        "networkConnectivity": {
            "showNetworkStatusMessage": false,
            "networkStatusCheckInterval": 20000,
            "locales": []
        },
        "diagnosisStatus": "Inactive",
        "obsIgnoreList": [
            "REGISTRATION FEES",
            "COMMENTS",
            "Patient file"
        ],
        "otherInvestigationsMap": {},
        "allowConsultationWhenNoOpenVisit": false,
        "defaultVisitType": "OPD",
        "visitTypeForRetrospectiveEntries": "OPD",
        "maxConceptSetLevels": 5,
        "allowOnlyCodedDiagnosis": false,
        "adtNavigationConfig": {
            "privilege": "",
            "forwardUrl": "../bedmanagement/#/bedManagement/patient/{{ '{{' }}patientUuid{{ '}}' }}",
            "title": "Go to IPD dashboard"
        },
        "conceptSetUI": {
            "Chief Complaint Data": {
                "autocomplete": true,
                "codedConceptName": "Chief Complaint",
                "nonCodedConceptName": "Non-Coded Chief Complaint",
                "durationRequired": false,
                "allowAddMore": true
            },
{% for wound_number in wound_numbers %}
            "forms.assessment.woundSpecific.size{{ wound_number }}": {
                "isTabular": true
            },
            "forms.follow_up.woundSpecific.size{{ wound_number }}": {
                "isTabular": true
            },
{% endfor %}
            "forms.triage.tews.mobility": {
                "isTabular": true
            },
            "forms.triage.tews.respiratory_rate": {
                "isTabular": true
            },
            "forms.triage.tews.heart_rate": {
                "isTabular": true
            },
            "forms.triage.tews.systolic_BP": {
                "isTabular": true
            },
            "forms.triage.tews.temperature": {
                "isTabular": true
            },
            "forms.triage.tews.avpu": {
                "isTabular": true
            },
            "forms.triage.tews.trauma": {
                "isTabular": true
            },
            "clinical.medication": {
                "multiSelect": true
            },
            "clinical.pain.characteristic": {
                "multiSelect": true
            },
            "clinical.pain.treatment": {
                "multiSelect": true
            },
            "clinical.psychosocialFactors": {
                "multiSelect": true
            },
            "clinical.comorbidities": {
                "multiSelect": true
            },
            "clinical.increasedInfectionRisk": {
                "multiSelect": true
            },
            "clinical.woundSpecific": {
                "multiSelect": true
            },
            "defaults": {}
        },
        "visitPage": {
            "observationDisplay": {
                "conceptNames": []
            }
        }
    }
}
