Uuid,Void/Retire,Fully specified name:en,Short name:en,Description:en,Data class,Data type,Absolute low,Absolute high,Answers,Members,Allow decimals,Units,_version:1,_order:1500
,,forms.assessment,Assessment,,ConvSet,N/A,,,,{% for wound_number in wound_numbers %}forms.assessment.woundSpecific{{ wound_number }}{{ '' if loop.last else ';' }}{% endfor %},,,,
