Uuid,Void/Retire,Fully specified name:en,Short name:en,Description:en,Data class,Data type,Absolute low,Absolute high,Answers,Members,Allow decimals,Units,_version:1,_order:1400
{% for wound_number in wound_numbers %}
,,forms.assessment.woundSpecific.woundLocation{{ wound_number }},Location,,Question,Coded,,,clinical.woundSpecific.woundLocation.head;clinical.woundSpecific.woundLocation.thorax;clinical.woundSpecific.woundLocation.abdomen;clinical.woundSpecific.woundLocation.pelvic;clinical.woundSpecific.woundLocation.buttocks;clinical.woundSpecific.woundLocation.arm;clinical.woundSpecific.woundLocation.hand;clinical.woundSpecific.woundLocation.leg;clinical.woundSpecific.woundLocation.foot,,,,,
,,forms.assessment.woundSpecific.woundLocation.leftRight{{ wound_number }},Left/Right,,Question,Coded,,,clinical.woundSpecific.woundLocation.left;clinical.woundSpecific.woundLocation.right,,,,,
,,forms.assessment.woundSpecific.woundLocation.frontBack{{ wound_number }},Front/Back,,Question,Coded,,,clinical.woundSpecific.woundLocation.back;clinical.woundSpecific.woundLocation.front,,,,
,,forms.assessment.woundSpecific.mucosaeJoint{{ wound_number }},Mucosae/Joint,,Question,Coded,,,clinical.woundSpecific.mucosaeJoint.mucosae;clinical.woundSpecific.mucosaeJoint.joint,,,,,
,,forms.assessment.woundSpecific.type.surgical{{wound_number}},Surgical,,Question,Coded,,,clinical.woundSpecific.type.surgical.suture;clinical.woundSpecific.type.surgical.drainage;clinical.woundSpecific.type.surgical.debridement;clinical.woundSpecific.type.surgical.fixation;clinical.woundSpecific.type.surgical.other,,,,,
,,forms.assessment.woundSpecific.type{{ wound_number }},Type of wound,,Question,Coded,,,forms.assessment.woundSpecific.type.surgical{{wound_number}};clinical.woundSpecific.type.traumatic;clinical.woundSpecific.type.chronic;clinical.woundSpecific.type.ostomies;clinical.woundSpecific.type.burnsChemical;clinical.woundSpecific.type.otherAnswer,,,,,
,,form.assessment.woundSpecific.typeOfWound{{wound_number}},Type Of Wound,,ConvSet,N/A,,,,forms.assessment.woundSpecific.type{{ wound_number }};clinical.woundSpecific.type.other;forms.assessment.woundSpecific.type.surgical{{wound_number}};clinical.woundSpecific.type.surgical.otherDetails,,,,
,,forms.assessment.woundSpecific.infection{{ wound_number }},Infection,,Question,Coded,,,clinical.woundSpecific.infection.healing;clinical.woundSpecific.infection.nonHealing;clinical.woundSpecific.infection.foreignBody,,,,,
,,forms.assessment.woundSpecific.tissue{{ wound_number }},Tissue,,Question,Coded,,,clinical.woundSpecific.tissue.granulation;clinical.woundSpecific.tissue.epithelialization;clinical.woundSpecific.tissue.fibrin;clinical.woundSpecific.tissue.necrosis;clinical.woundSpecific.tissue.hypergranulation;clinical.woundSpecific.tissue.na,,,,,
,,forms.assessment.woundSpecific.moisture.excudate{{ wound_number }},Excudate,,Question,Coded,,,clinical.woundSpecific.moisture.excudate.plus;clinical.woundSpecific.moisture.excudate.plusplus;clinical.woundSpecific.moisture.excudate.plusplusplus,,,,,
,,forms.assessment.woundSpecific.moisture.type{{ wound_number }},Type,,Question,Coded,,,clinical.woundSpecific.moisture.type.serous;clinical.woundSpecific.moisture.type.fibrinous;clinical.woundSpecific.moisture.type.pus;clinical.woundSpecific.moisture.type.serosanguinous;clinical.woundSpecific.moisture.type.seropurulent;clinical.woundSpecific.moisture.type.haemopurulent;clinical.woundSpecific.moisture.type.haemorrhagic,,,,,
,,forms.assessment.woundSpecific.moisture{{ wound_number }},Moisture,,ConvSet,N/A,,,,forms.assessment.woundSpecific.moisture.excudate{{ wound_number }};forms.assessment.woundSpecific.moisture.type{{ wound_number }},,,,
,,forms.assessment.woundSpecific.periwound{{ wound_number }},Periwound,,Question,Coded,,,clinical.woundSpecific.periwound.healthy;clinical.woundSpecific.periwound.dry;clinical.woundSpecific.periwound.macerated;clinical.woundSpecific.periwound.eczema;clinical.woundSpecific.periwound.oedema;clinical.woundSpecific.periwound.excoriation;clinical.woundSpecific.periwound.callus;clinical.woundSpecific.periwound.hyperkeratosis;clinical.woundSpecific.periwound.otherAnswer,,,,,
,,forms.assessment.woundSpecific.edges{{ wound_number }},Edges,,Question,Coded,,,clinical.woundSpecific.edges.normal;clinical.woundSpecific.edges.maceration;clinical.woundSpecific.edges.undermining;clinical.woundSpecific.edges.keratinized;clinical.woundSpecific.edges.irritated;clinical.woundSpecific.edges.rolled_in;clinical.woundSpecific.edges.rolled_out;clinical.woundSpecific.edges.callus;clinical.woundSpecific.edges.dehydration,,,,,
,,forms.assessment.woundSpecific.size{{ wound_number }},Size,,ConvSet,N/A,,,,clinical.woundSpecific.size.length;clinical.woundSpecific.size.width;clinical.woundSpecific.size.depth,,,,
,,forms.assessment.woundSpecific.medicalnote{{ wound_number }},Medical notes,,Question,Text,,,,,,,,,,,,
,,forms.assessment.woundSpecific{{ wound_number }},Wound {{ wound_number }},,ConvSet,N/A,,,,forms.assessment.woundSpecific.woundLocation{{ wound_number }};forms.assessment.woundSpecific.woundLocation.leftRight{{ wound_number }};forms.assessment.woundSpecific.woundLocation.frontBack{{ wound_number }};forms.assessment.woundSpecific.mucosaeJoint{{ wound_number }};clinical.woundSpecific.date;form.assessment.woundSpecific.typeOfWound{{wound_number}};forms.assessment.woundSpecific.size{{ wound_number }};forms.assessment.woundSpecific.tissue{{ wound_number }};forms.assessment.woundSpecific.infection{{ wound_number }};forms.assessment.woundSpecific.moisture{{ wound_number }};forms.assessment.woundSpecific.edges{{ wound_number }};forms.assessment.woundSpecific.periwound{{ wound_number }};clinical.woundSpecific.periwound.other;forms.assessment.woundSpecific.medicalnote{{ wound_number }},,,,
{% if not loop.last %}
,,forms.assessment.woundSpecific.nextWound{{ wound_number }},Next wound,,Question,Boolean,,,,,,,,
{% endif %}
{% endfor %}
,,forms.assessment.woundSpecific.globalMedicalNote,Global medical notes,,Question,Text,,,,,,,,,,,,
,,forms.assessment,Assessment,,ConvSet,N/A,,,,{% for wound_number in wound_numbers %}forms.assessment.woundSpecific{{ wound_number }}{% if not loop.last %};forms.assessment.woundSpecific.nextWound{{ wound_number }};{% endif %}{% endfor %};forms.assessment.woundSpecific.globalMedicalNote,,,,
