{
    "general": {
        "translationKey": "DASHBOARD_TAB_GENERAL_KEY",
        "displayByDefault": true,
        "maxRecentlyViewedPatients": 10,
        "sections": {
            "patientInformation": {
                "translationKey": "DASHBOARD_TITLE_PATIENT_INFORMATION_KEY",
                "type": "patientInformation",
                "displayOrder": 0,
                "ageLimit": 100,
                "patientAttributes": [ "reg.dateFirstVisit",
                                       "reg.phoneNumber",
                                       "reg.encodedUntil" ],
                "addressFields": []
            },
            "navigationLinksControl": {
                "translationKey": "DASHBOARD_TITLE_NAVIGATION_LINKS_CONTROL_KEY",
                "type": "navigationLinksControl",
                "displayOrder": 2,
                "showLinks": [
                    "home",
                    "registration"
                ]
            },
            "visits": {
                "translationKey": "DASHBOARD_TITLE_VISITS_KEY",
                "type": "visits",
                "displayOrder": 1,
                "dashboardConfig": {
                    "title": null,
                    "maximumNoOfVisits": 8,
                    "groupByVisits": true
                }
            },
            "formsDisplay": {
                "type": "forms",
                "displayOrder": 3,
                "dashboardConfig": {
                    "title": null,
                    "maximumNoOfVisits": 10
                },
                "formGroup": [],
                "translationKey": "DASHBOARD_TITLE_FORMS_DISPLAY_CONTROL_KEY"
            },
            "triage": {
                "translationKey": "Triage",
                "hideEmptyDisplayControl": true,
                "displayOrder": 15,
                "isObservation": true,
                "dashboardConfig": {
                    "conceptNames": [
                        "forms.triage"
                    ],
                    "scope": "latest",
                    "showGroupDateTime": false
                },
                "expandedViewConfig": {
                    "conceptNames": [
                        "forms.triage"
                    ],
                    "showDetailsButton": true,
                    "pivotTable": {
                        "numberOfVisits": "30",
                        "groupBy": "encounters",
                        "obsConcepts": [
                            "forms.triage"
                        ],
                        "drugConcepts": "",
                        "labConcepts": ""
                    }
                }
            },
            "discharge": {
                "translationKey": "Discharge",
                "hideEmptyDisplayControl": true,
                "displayOrder": 17,
                "isObservation": true,
                "dashboardConfig": {
                    "conceptNames": [
                        "forms.discharge"
                    ],
                    "scope": "latest",
                    "showGroupDateTime": false
                },
                "expandedViewConfig": {
                    "conceptNames": [
                        "forms.discharge"
                    ],
                    "showDetailsButton": true,
                    "pivotTable": {
                        "numberOfVisits": "30",
                        "groupBy": "encounters",
                        "obsConcepts": [
                            "forms.discharge"
                        ],
                        "drugConcepts": "",
                        "labConcepts": ""
                    }
                }
            },
{% for wound_number in wound_numbers %}
            "assessment{{ wound_number }}": {
                "translationKey": "Wound assessment - wound {{ wound_number }}",
                "hideEmptyDisplayControl": true,
                "displayOrder": 2{{ wound_number }},
                "isObservation": true,
                "dashboardConfig": {
                    "conceptNames": [
                        "forms.assessment.woundSpecific{{ wound_number }}"
                    ],
                    "scope": "latest",
                    "showGroupDateTime": false
                },
                "expandedViewConfig": {
                    "conceptNames": [
                        "forms.assessment.woundSpecific{{ wound_number }}"
                    ],
                    "showDetailsButton": true,
                    "pivotTable": {
                        "numberOfVisits": "30",
                        "groupBy": "encounters",
                        "obsConcepts": [
                            "forms.assessment.woundSpecific{{ wound_number }}"
                        ],
                        "drugConcepts": "",
                        "labConcepts": ""
                    }
                }
            },
            "follow_up{{ wound_number }}": {
                "translationKey": "Wound follow-up - wound {{ wound_number }}",
                "hideEmptyDisplayControl": true,
                "displayOrder": 4{{ wound_number }},
                "isObservation": true,
                "dashboardConfig": {
                    "conceptNames": [
                        "forms.follow_up.woundSpecific.painBeforDressing{{ wound_number }}",
                        "forms.follow_up.woundSpecific.size{{ wound_number }}",
                        "forms.follow_up.woundSpecific.tissue{{ wound_number }}",
                        "forms.follow_up.woundSpecific.infection{{ wound_number }}",
                        "forms.follow_up.woundSpecific.moisture{{ wound_number }}",
                        "forms.follow_up.woundSpecific.edges{{ wound_number }}",
                        "forms.follow_up.woundSpecific.periwoundSection{{ wound_number }}",
                        "forms.follow_up.woundSpecific.painAfterDressing{{ wound_number }}"
                    ],
                    "scope": "latest",
                    "showGroupDateTime": false
                },
                "expandedViewConfig": {
                    "conceptNames": [
                        "forms.follow_up.woundSpecific{{ wound_number }}"
                    ],
                    "showDetailsButton": true,
                    "pivotTable": {
                        "numberOfVisits": "30",
                        "groupBy": "encounters",
                        "obsConcepts": [
                            "forms.follow_up.woundSpecific{{ wound_number }}"
                        ],
                        "drugConcepts": "",
                        "labConcepts": ""
                    }
                }
            }{{ '' if loop.last else ',' }}
{% endfor %}
        }
    }
}

